body{
    font-family:'Source Sans Pro',sans-serif;
    margin:0;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family:'Fjalla One',sans-serif;
}
h1{
    margin-top:0;
    font-size:2em;
    line-height:1.5;
    letter-spacing: -.2px;
    text-transform:uppercase;
}
h1 strong{
    color:#026FFF;
}

.header{
    margin:0;
    background-color:#1b2127;
    color:#FFFFFF
}
.logo{
    margin-top:0;
}
.menu ol {
    margin-bottom:0;
}
.menu ol * {
    list-style:none;
    display: inline-block;
}
.link{
    color:#FFFFFF;
    text-decoration:none;
}


.hero{
    background-image:url('../images/hero.jpg');
    background-color:#1b2127;
    color:#FFFFFF;
    background-size:50% 300px;
    height:300px;
    background-repeat:no-repeat;
    background-position-x:right;
}
.hero h1{
    margin-right:50%;
}
.project{
    padding:20px;
    border:1px solid gray;
    border-radius:10px;
    margin-bottom:10px;
}


.project_details{
    width:500px;
}
.project_imageContainer{
    width:500px;

}
